/*MB*/


.hide-while-loading{
    visibility: hidden;
}

.selected-tenant{
    color: red;
}


/*The guide bar*/

#guide-bar {
    position: fixed;
    width: 300px;
    height: 800px;
    top: 73px;
    right: -300px;
    /* Animation  */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    z-index: 99;

}


/* Display slideOut */

.show-guide-bar {
    right: 0px !important;
}

/* Tab */
.slideOutTitle {
    font-size: 20px;
}

.guide-bar-tab {
    margin-top: 50px;
    position: absolute;
    left: -40px;
    height: 200px;
    width: 40px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background: #5cb85c;
    border-radius: 15px 0px 0px 15px;
    text-align: center;

}

.guide-bar-tab div {
    text-align: center;
    position: relative;
    right: 70px;
    top: 90px;
    /*background: #5cb85c;*/
    width: 180px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
}

/*End guide bar*/



/*Disable a Datatable*/
.disabled {
    opacity: 0.5 !important;
    pointer-events: none;
}

.required:after {
    content: " *";
    color: red;

}


/*.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    margin: 0px;
    padding: 0px;

}*/

.link {
    word-wrap: break-word;
}


.user-group-selector{
    box-sizing: border-box;
    display: inline;
    line-height: 20px;
}

.panel-footer {
    padding: 4px 3px;
}

.panel-heading {
    border-top: 1px solid;
    border-left: 1px solid;
}

.dataTables_length {
    display: inline-block;
    /*float: right;*/
    margin-bottom: -7px;
    padding: 4px 3px;
}

#table-title {
    display: inline-block;
    width: 75%;
    margin-left: 5px
;

}

/*pulls the Datatable right to the edge of the panel*/
.panel-body.tight{
    padding: 1px;
    margin-top: -7px;
    margin-bottom: -7px;

}

table {
    margin-top: 0px;
    padding-top: 0px;

}

.negative {
    color: white;
    background: #0f0f0f;
}


/*Overriding the treeview so it fits in the navbar*/

.bordered{
    display: block;
    border-collapse: collapse;
}

.vue-treeselect__value-wrapper{
    display: block !important;
}

.vue-treeselect__control{
    display: table-row !important;
    border: 1px solid #ddd !important;

}

.form-control-tight{
    padding: 0px 0px !important;
    /*border: 1px solid;*/
/*    width: 100%;*/
    /*font-size: 14px;*/
    /*line-height: 1.42857143;*/
    /*color: #555;*/
   /* background-color: #fff;
    background-image: none;*/

}

.form-group-tight {
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
}


.vue-treeselect__input-wrapper{
    height:35px !important;
}



/*End MB*/



a.navbar-brand {
    margin: 0px;
    padding: 0px;
    background-image: url("/ui/bytes-cip-logo-small.png");
    background-repeat: no-repeat;
    width: 144px;
    height:50px;


}

ul.customer-select li.customer-link {
    background-image: url('/ui/star.png');
    background-repeat: no-repeat;
    background-position: 1em 50%;
    padding-left: 2em;
}

ul.customer-select li.customer-link > a {
    padding-left: 5px;
}

div.form-group > div.statictext {
    padding-top: 7px;
}

div.form-group > div.staticlabel {
    padding-top: 3px;
}

div.input-group > div.easy-autocomplete > div.easy-autocomplete-container > ul {
    top: 36px;
}

div.easy-autocomplete-container li div.eac-item span.code {
    color: #888888;
    font-size:0.9em;
}

.mt1 {
    margin-top: 1em;
}

.mr1 {
    margin-right: 1em;
}

table.text-middle tr > td {
    vertical-align: middle;
}

.icon-return {
    position: relative;
    top: 1px;
    width: 15px;
    height: 15px;
    background-image: url("/ui/return.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 0.5em;
}

.large {
    font-size: larger;
}

.table-error {
    background:#ebccd1;;;
}

span.select2 {
    display: table;
    table-layout: fixed;
    width: 100% !important;
}

.icon-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.input-nested {
    padding-left: 1em;
    margin-top: 0.25em;
}

.form-group.has-error .input-group .input-group-btn .btn {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-group .has-error .input-group .input-group-btn .btn {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.tile {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    padding: 0;
    margin: 1em 0.5em;
    display: block;
}

.tile-report {
    background-image: url('/ui/cloudbg.jpg');
}

.tile .tile-title {
    padding-top: 200px;
    text-align: center;
}

.tile .tile-title span {
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    display: block;
    font-size: 2em;
    line-height: 1.1em;
    padding: 5px 3px;
}

a.tile, a.tile:visited {
    color: #3c3c3c;
    text-decoration: none;
}

a.tile:hover {
    color: #1f648b;
    text-decoration: underline;
}